* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fefefe;
    width: 100%;

}

header {
    background: #e71d36;
    padding: 20px;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.box-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

#logo {
    width: 100px;
}

.titulo-principal {
    flex: 1;
    color: #fefefe;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Otomanopee One', sans-serif; 
    font-size: 33px;
}

.nav.menu {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    text-decoration-style: none;
}

nav li {
    display: inline;
    padding: 5px;
    list-style-type: none;
}

nav a {
    display: inline-block;
    text-transform: uppercase;
    color: #fefefe;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

nav a:hover {
    transform: translateY(-3px);
}

#banner {
    width: 100%;
    transition: 0.1s;
}

.principal {
    width: 60%;
    padding: 4em 0;
    margin: 0 auto;
}


.principal p {
    text-align: center; 
    padding: 0.4em 0;
    color: #e71d36;
    font-size: 1.2em;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #e71d36;
}

.beneficio {
    background: rgb(231,29,54);
    background: linear-gradient(156deg, rgba(231,29,54,1) 0%, rgba(201,146,74,1) 49%, rgba(255,244,0,1) 100%);
    padding: 4em 0;
}

.titulo-centralizado {
    text-align: center;
    color: #3c3c3c;
    margin-bottom: 40px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}

.beneficio-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto; 
}

.beneficio-lista {
    display: flex;
    flex-direction: column;
}

.itens {
    font-style: italic;
    font-size: 25px;
    text-decoration: none;
    list-style-type: none;
    padding: 0.4em;
    color: #fefefe;
    text-align: center;
}

.foto-beneficio {
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: 4em auto;
}

.mapa p { 
    padding: 1em 0; 
    font-size: 1.2em;
    width: 80%;
    line-height: 2em;
    text-align: center;
}


footer {
    text-align: center;
    background-color: #e71d36;
    width: 100%;
    padding: 0 0 10px 0;

}

.logo-footer {
    width: 150px;

}
.copyright {
    color: whitesmoke;
    font-size: 13px;
}

@media screen and (max-width: 600px) {
    .menu, .principal, .beneficio-lista, .mapa {
        width: auto;
    }

    .menu {
       flex-direction: column; 
    }

    .titulo-principal {
        font-size: 20px;
    }

    .beneficio {
        padding: 0;
    }

    .beneficio-conteudo {
        flex-direction: column;
        width: 100%;
    }

    .beneficio-lista { 
        margin-bottom: 15px;
    }

    .itens {
        text-align: center;
    }

    .foto-beneficio {
        width: 100%;
    }


    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .beneficio-lista, .foto-beneficio {
        width: 100%;
    }
}
