body { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding: 20px; */
}

header {
    background: #e71d36 ;
    padding: 20px;
}

.container-main {
    padding: 100px 0;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.box-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

#logo {
    width: 100px;
}

.titulo-principal {
    flex: 1;
    color: #fefefe;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 33px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    text-decoration-style: none;
    margin: 30px 0 30px 0;
}

nav li {
    display: inline;
    padding: 5px;
    list-style-type: none;
}

nav a {
    display: inline-block;
    text-transform: uppercase;
    color: #fefefe;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 00.3s ease-in-out;
}

nav a:hover {
    transform: translateY(-3px);
}
 
.produtos {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.produtos li {
    position: relative;
    text-align: center;
    vertical-align: top;
    margin: 20px 0;
    padding: 70px 20px;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    width: 30%;
}

.produtos li img {
    width: 60%;
}

.produtos li:hover {
    border-color: teal;
}

.produtos li:hover h2 {
    transform: scale(1.2);
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    transition: ease-in-out 0.2s;
    margin-bottom: 20px;
}

.produto-descricao {
    font-size: 20px;
    font-weight: lighter;
    margin: 20px 0;
    text-align: center; 
}

.produto-preco {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 15px;
    bottom: 0;
}

footer {
    text-align: center;
    background-color: #e71d36;
    width: 100%;
    padding: 0 0 10px 0;
}

.logo-footer {
    width: 150px;
}

.copyright {
    color: whitesmoke;
    font-size: 13px;
}

@media screen and (max-width: 600px) {
    .menu {
        flex-direction: column; 
        width: auto;
     }

     .titulo-principal {
        font-size: 20px;
     }

    .produtos {
        flex-direction: column;
        width: 75%;
    }

    .produto-geleia, .produto-kit, .produto-chutney, .produtos li {
        width: 100%;
    }


}