header {
    background: #e71d36 ;
    padding: 20px;
}

header {
    padding: 20px;
}


.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.box-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

#logo {
    width: 100px;
}

.titulo-principal {
    flex: 1;
    color: #fefefe;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 33px;
}

.nav-menu {
    vertical-align: middle;
}

nav li {
    display: inline;
    margin: 0 0 0 15;
    padding: 5px;
}

nav a {
    text-transform: uppercase;
    color: #fefefe;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: #011627;
    text-decoration: underline;
}
 
.produtos {
    width: 100%;
    margin: 0 auto;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    margin-top: 20px;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: teal;
}

.produtos li:hover h2 {
    transform: scale(1.2);
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    transition: ease-in-out 0.2s;
}

.produto-descricao {
    font-size: 20PX;
    font-weight: lighter;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background-color: #e71d36;
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
}

.logo-footer {
    width: 150px;

}
.copyright {
    color: whitesmoke;
    font-size: 13px;

}